[submodule "drivers/submodules/pylon-ros-camera"]
	path = drivers/submodules/pylon-ros-camera
	url = https://github.com/basler/pylon-ros-camera
[submodule "drivers/submodules/dragandbot_common"]
	path = drivers/submodules/dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git
[submodule "libraries/tensorrt/tensorrt_oss"]
	path = libraries/tensorrt/tensorrt_oss
	url = https://github.com/NVIDIA/TensorRT.git
[submodule "drivers/submodules/ouster_example"]
	path = drivers/submodules/ouster_example
	url = https://github.com/ouster-lidar/ouster_example.git
[submodule "libraries/onnx2trt/--checkout"]
	path = libraries/onnx2trt/--checkout
	url = https://github.com/onnx/onnx-tensorrt.git
[submodule "libraries/onnx2trt/onnx-tensorrt"]
	path = libraries/onnx2trt/onnx-tensorrt
	url = https://github.com/onnx/onnx-tensorrt.git
