[submodule "drivers/submodules/pylon-ros-camera"]
	path = drivers/submodules/pylon-ros-camera
	url = https://github.com/basler/pylon-ros-camera
[submodule "drivers/submodules/dragandbot_common"]
	path = drivers/submodules/dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git
[submodule "libraries/TensorRT"]
	path = libraries/TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
